<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>timeline</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"><link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'><link rel="stylesheet" href="/styles/profile.css">

</head>
<body>

<nav class="navbar ">
 <img src="/images/loo.png" height=50px width=50px>
 <div class="head" style="position:absolute; left:100px"><H3>AGREEMI</H3></div>
  <div class="nav-logo" > 
 </div>
  <div class="nav-content float">
  <ul class="navbar-nav" >
    <li class="nav-item">
      <a class="nav-link active" href="/home.html"><i class="fas fa-home fa-2x"></i></a>
    </li></ul></div>
    
 
   
  
</nav>
<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-md-3 mb-3 order-1">
      <div class="card shadow mb-3">
        <img class="card-img-top" src="https://t4.ftcdn.net/jpg/02/25/26/77/360_F_225267702_vEwtxQ50kMc5n2puQrNpuinMOHT7jO1U.jpg">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              
              <h5 class="mb-0"><%=currentMan.name %></h5>
              <h5><a href="#" class="text-body"><small class="text-muted">@prestige</small></a></h5>
            </div>
            
           
          </div>
        </div>
      </div>
      <div class="card shadow mb-3">
        <div class="card-body">
          <h5><a href ="">AGREEMENTS</a></h5>
          <p><br><small class="text-muted"></small></p>


          
        </div>
        <div class="card-footer">
          <a href="/manufacturer/all-agreements">Find more</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 order-3 order-md-2">
      <div class="head">
      <h3><center>AGREEMENTS ABOUT TO EXPIRY</center></h3>
      </div>
      <br>
      <% expiringAgreements.forEach(agreement => { %>
        <% if(agreement && agreement !== null) { %>
        
        <div class="card shadow mb-3">
          <div class="card-body">
            <div class="d-flex">
              <div class="flex-shrink-1">
                
              </div>
              <div class="flex-grow-1">
                <h3> <small class="text-muted"><%=agreement.vendor.name %></small></h3>
                <p>
                  Raw material: <%=agreement.rawMaterial %>
                </p>
                <p>
                  Expiring on: <%= agreement.endDate.toLocaleDateString() %>
                </p>
                <div class="sus">
            <a href="/manufacturer/agreement/<%=agreement._id%>">Read more</a>
          </div>
              </div>
            </div>
          </div>
        </div>

      <% }}) %>
    </div>
      
     
      
      
      
   

  <script src='https://code.jquery.com/jquery-3.3.1.slim.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js'></script>
<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js'></script>
<script src='https://use.fontawesome.com/releases/v5.4.1/js/all.js'></script><script  src="/js/timeline.js"></script>


</body>
</html>
